
#home-head
    width 100%
    height 60vh
    position relative
    display flex
    top 0
    left 0
    z-index 100
    background-repeat no-repeat
    background-size cover
    background-position center

    .home-info
        position relative
        margin auto

        .info
            position absolute
            display flex
            align-items center
            justify-content center
            text-align center
            color #333333
            border-radius 10px
            cursor pointer

@import './home-posts'
@import './home-card'